<nav class="navbar navbar-expand-md navbar-dark bg-warning bg-faded" *ngIf="isLoggedIn$ | async" >
  <!-- *ngIf="isLoggedIn$ | async" -->
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
    <img src="assets/img/notes-icon.png" width="30" height="30" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- active -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['notas']">Notas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
    </ul>


    <div class="form-inline my-2 my-lg-0">
      <button (click)="anadirNota(content)" class="btn-add btn-outline btn mr-2 my-0" type="button">
        <fa-icon class="fa-2x" [icon]="['far','plus-square']"></fa-icon>
      </button>

      <input class="form-control mr-sm-2" type="text" placeholder="Buscar notas"
        (keyup.enter)="buscarNota(buscarTexto.value)" #buscarTexto>
      <button (click)="buscarNota(buscarTexto.value)" class="btn btn-outline-primary my-2 my-sm-0"
        type="button">Buscar</button>

      <button (click)="onLogout()" class="btn btn-primary ml-3 my-2 my-sm-0"
        type="button">Logout</button>
    </div>

  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Añadir nota</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <div class="input-group">
          <input id="nombre" class="form-control" [(ngModel)]="name" name="name">
        </div>
      </div>
    </form>
    <form>
      <div class="form-group">
        <label for="nombre">Nota</label>
        <div class="input-group">
          <textarea id="nota" class="form-control" rows="5" [(ngModel)]="note" name="note"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Guardar</button>
  </div>
</ng-template>