<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form [formGroup]="form"  class="login-form" (ngSubmit)="onSubmit()">
      <input formControlName="userName" required type="text" placeholder="username"/>
      <input formControlName="password" required type="password" placeholder="password"/>
      <button >login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>

    <div *ngIf="isFieldInvalid('userName') || isFieldInvalid('password')" class="alert alert-danger">Credenciales
      inválidas!</div>

    <div class="col-md-12 mt-4">
      <div class="form-group">
        <button [routerLink]="['/login']" ng-disabled="myForm.$invalid"
          class="btn btn-success pull-right">Back</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>